Repository UMwai/um-agent-orchestration, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/frontend-team, @org/backend-team, @org/data-team, @org/ml-team, @org/pm-team, @org/risk, @org/research, @org/bioinformatics, @org/devops-team, @org/arch-team

.github/CODEOWNERS:

# Frontend ownership
/frontend/ @org/frontend-team

# Backend ownership
/backend/ @org/backend-team

# Data ownership
/data/ @org/data-team

# ML ownership
/ml/ @org/ml-team

# Quant/Finance
/quant/ @org/pm-team @org/risk

# Pipelines/Bioinformatics
/pipelines/ @org/research @org/bioinformatics

# Shared
/.github/ @org/devops-team
/config/ @org/arch-team

docs(readme): expand comprehensive documentation
  README.md
Owners: none

docs(claude): add development context and commands
  CLAUDE.md
Owners: none

docs(examples): add comprehensive fullstack webapp job submission guide
  examples/fullstack-webapp-job.md
Owners: none

feat(providers): add full access mode for Claude Code and Codex
  config/config.yaml
  orchestrator/models.py
  providers/claude_interactive_provider.py
  providers/codex_interactive_provider.py
  providers/router.py
  scripts/init-full-access.sh
Owners: @org/arch-team

docs: comprehensive full access mode documentation update
  CLAUDE.md
  README.md
  examples/full-access-examples.md
  examples/fullstack-webapp-job.md
  examples/security-considerations.md
Owners: none

feat: implement complete 24/7 agent orchestration system
  AGENT_INTEGRATION_GUIDE.md
  CLAUDE.md
  IMPLEMENTATION_SUMMARY.md
  dashboard/dashboard.html
  orchestrator/app.py
  orchestrator/minimal_dispatcher.py
  orchestrator/simple_dispatcher.py
  pyproject.toml
  scripts/agent_helpers.py
  scripts/test-full-access.py
Owners: none

docs: update documentation and create missing example files
  README.md
  examples/backend-task.yaml
  examples/data-task.yaml
  examples/frontend-task-full-access.yaml
  examples/frontend-task.yaml
  examples/fullstack-webapp-job.md
Owners: none

feat(gitops): implement enhanced auto-rebase pipeline for multi-PR conflict resolution
  Makefile
  config/config.yaml
  dashboard/dashboard.html
  gitops/branch_manager.py
  gitops/merge_coordinator.py
  gitops/prizer.py
  monitoring/metrics.py
  orchestrator/app.py
  orchestrator/settings.py
  package-lock.json
  scripts/merge_queue_processor.py
  systemd/merge-processor.service
  systemd/merge-processor.timer
Owners: @org/arch-team

fix(dashboard): replace mock data with real API endpoints
  dashboard/dashboard.html
Owners: none

docs: comprehensive documentation and launch system overhaul
  .env.example
  CLAUDE.md
  IMPLEMENTATION_STATUS.md
  QUICK_START.md
  README.md
  docs/SPECIALIZED_AGENTS.md
  examples/overnight_development.sh
  examples/simple_workflow.sh
  quickstart.sh
  run.sh
  specs/SIMPLIFIED_ORCHESTRATION_SPECS.md
Owners: none

feat: package CLI, add gemini, support long-running tasks
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  config/settings.json
  docs/README.md
  pyproject.toml
  requirements.txt
  src/__init__.py
  src/cli/__init__.py
  src/cli/orchestrate.py
  src/core/__init__.py
  src/core/agent_spawner.py
  src/core/agent_types.py
  src/core/autonomous_harness.py
  src/core/config.py
  src/core/context_manager.py
  src/core/input_validator.py
  src/core/parallel_executor.py
  src/core/subagent_pool.py
  src/core/tools.py
  src/utils/__init__.py
  tests/unit/test_agent_spawner_gemini.py
Owners: @org/devops-team, @org/arch-team

Add/enhance comprehensive specs directory with roadmap
  specs/AGENT_DESIGN.md
  specs/ARCHITECTURE.md
  specs/INTEGRATIONS.md
  specs/ROADMAP.md
Owners: none
